* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* always good for sizing */
}

.backgrounddestionation {
    background-image: url("./starter-code/assets/home/background-home-desktop.jpg");
    background-size: cover;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Don't repeat */

    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    position: relative;
    /* So children can be positioned */
}

.background {
    background-image: url("./starter-code/assets/destination/background-destination-desktop.jpg");

    background-size: cover;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Don't repeat */

    height: 100%;
    /* Full viewport height */
    width: 100%;
    /* Full viewport width */
    position: relative;
    /* So children can be positioned */
}


.leftlogo {

    position: absolute;
    top: 20px;
    left: 70px;
    width: 56px;
    height: auto;
}

.line {
    height: 1px;
    width: 550px;
    background-color: rgba(68 82 106 / 60%);
    position: absolute;
    margin-top: 54px;
    margin-left: 180px;
    z-index: 10;
}

.href {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-left: 10px;
}

.href a {
    color: white;
    text-decoration: none;
}

.href ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding-left: 61px;
    height: 65px;
    width: 666px;
    background: linear-gradient(to right, rgba(11, 13, 23, 0.6), rgba(36, 49, 73, 0.6), rgba(11, 13, 23, 0.6));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.href .destinationul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding-left: 61px;
    height: 65px;
    width: 666px;
    background: linear-gradient(to right, #191c2a, #2a2e3a);
    ;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
    display: flex;
    gap: 370px;

}

.right {
    margin-top: 140px;
    margin-left: 100px;
}

.right h2 {
    font-size: 31px;
    color: rgb(154 159 185);
    font-family: "GFS Didot";
    font-weight: 300;
}

.right h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 75px;
    margin-top: 14px;
}

.right p {
    font-family: "Montserrat";
    color: rgb(154 159 185);
    margin-top: 8px;
}

.circleleft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-top: 200px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    letter-spacing: 2px;
}

/* destination section */

.leftdestination {
    margin-top: 65px;
    margin-left: 181px;
    color: hsla(220, 9%, 60%, 1);
}

.one {
    color: rgb(90, 93, 105);
}

.mars {
    margin-top: 12vh;
    margin-left: 9vw;
    height: 55vh;
    width: auto;
}

.tabs ul {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 16vh;
    transform: translateX(-190px);
    list-style: none;
}

.tabs li {
    background: none;
    border: none;
    font-size: 18px;
    color: hsla(226, 29%, 89%, 1);
    position: relative;
    cursor: pointer;
}

.tab-button::after {
    content: '';
    position: absolute;
    bottom: -13px;
    /* ← this controls how far below the text the underline is */
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: center;
}

.tab-button.active::after {
    transform: scaleX(1);
}



.lineinfo {
    height: 2px;
    width: 27vw;
    background-color: hsla(224, 19%, 11%, 1);
    margin-top: 25px;
    transform: translateX(-190px);
}

.rightdestinationinfo h1 {
    color: white;
    margin-top: 8vh;
    font-size: 96px;
    font-family: 'Roboto';
    font-weight: 350;
    transform: translateX(-190px)
}

.rightdestinationinfo p {
    margin-top: 10px;
    color: hsla(233, 9%, 36%, 1);
    transform: translateX(-190px)
}

.rightdistance {
    display: flex;
    align-items: center;
    gap: 45px;
}

.avg p {
    font-size: 18px;
}

.avg h3 {
    transform: translateX(-190px);
    font-size: 27px;
    color: hsla(220, 18%, 73%, 1);
    margin-top: 6px;
}

.est p {
    font-size: 18px;
}

.est h3 {
    transform: translateX(-190px);
    font-size: 27px;
    color: hsla(220, 18%, 73%, 1);
    margin-top: 6px;
}

.destination-section {
    display: none;
}

.destination-section.active {
    display: block;
}

/* crew section */


.backgroundcrew {
    background-image: url("./starter-code/assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Don't repeat */

    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    position: relative;
    /* So children can be positioned */
}

.href ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding-left: 61px;
    height: 65px;
    width: 666px;
    background: linear-gradient(to right, rgb(56 61 80 / 60%), rgb(25 31 42 / 60%), rgb(50 55 82 / 60%));
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    /* frosted glass effect */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
}

.leftcrewinfo .meet {
    margin-top: 50px;
    margin-left: 181px;
}

.crewinfo {
    margin-top: 70px;
    margin-left: 181px;
}

.crewinfo h2 {
    font-size: 35px;
    color: hsla(216, 6%, 46%, 1);
}

.crewinfo h1 {
    font-size: 55px;
    color: hsla(217, 87%, 97%, 1);
}

.crewinfo p {
    margin-top: 17px;
    font-size: 20px;
    color: hsla(223, 11%, 67%, 1);
    line-height: 30px;
}

.meet{
    color: hsla(217, 87%, 97%, 1) ;
}
